
.contenedor-login {
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    min-height: 100vh;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.form-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #5BA4A4;
    outline: none;
}

.form-group input+label,
.form-group textarea+label, 
.form-group input:not(:placeholder-shown)+label {
    top: -6px;
    font-size: 12px;
    color: #5BA4A4;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
}

.error {
    color: red;
    margin-top: -16px;
    margin-bottom: 8px;
    font-size: 14px;
}









@media (min-width: 570px) {
    .contenedor-login {
        min-height: 450px;
        border-radius: 20px;
        width: 90%;
        margin: auto
    }
}

@media (min-width: 1000px) {
    .contenedor-login {
        width: 70%;
    }
}

